<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/breadcrumb.css" />
    <link rel="stylesheet" href="../css/table.css" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
  </head>

  <body>
    <div class="sidebar">
      <div class="sidebar-frame">
        <a href="">
          <div class="frame-logo">
            <div class="logo"></div>
          </div>
        </a>
        <div class="sidebox" id="navigation" role="navigation">
          <div class="side-row">
            <div class="dashboard">
              <a href="../admin/dashboard.html" class="text">Dashboard</a>
            </div>
          </div>

          <div class="side-row">
            <div class="transponder">
              <span class="text">Drone</span>
            </div>
            <div class="subtext">
              <a href="../admin/drone_list.html" class="subtext2">Drone List</a>
            </div>
            <div class="subtext">
              <a href="../admin/pilot_list.html" class="subtext2">Pilot List</a>
            </div>
            <div class="subtext">
              <a href="../admin/flight_list.html" class="subtext2">Flight List</a>
            </div>
            <div class="subtext">
              <a href="" class="subtext2">Post Flight Report</a>
            </div>
            <div class="subtext">
              <a href="" class="subtext2">History</a>
            </div>
          </div>

          <div class="side-row">
            <div class="user">
              <span class="text">Users</span>
            </div>
            <div class="subtext">
              <a href="../admin/admin_list.html" class="subtext2">Admin List</a>
            </div>
            <div class="subtext">
              <a href="../admin/user_list.html" class="subtext2">User List</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="close-btn">
      <div class="close-icon">&times;</div>
    </div>
    <div class="hamburger-btn hidden">
      <div class="hamburger-icon">&#9776;</div>
    </div>

    <script src="../js/hamburger.js"></script>  
  </body>
</html>
