<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/sidebar.css" />
    <!-- <link rel="stylesheet" href="../css/navbar.css" /> -->
  </head>

  <body>
    <div class="sidebar">
      <div class="sidebar-frame">
        <a href="">
          <div class="frame-logo">
            <div class="logo"></div>
          </div>
        </a>
        <div class="sidebox" id="navigation" role="navigation">
          <div class="side-row">
            <div class="dashboard">
              <a href="../user/dashboard.html" class="text">Dashboard</a>
            </div>
          </div>

          <div class="side-row">
            <div class="transponder">
              <span class="text">Drone</span>
            </div>
            <div class="subtext">
              <a href="" class="subtext2">Permission List</a>
            </div>
            <div class="subtext">
              <a href="../user/drone_list.html" class="subtext2">Drone List</a>
            </div>
            <div class="subtext">
              <a href="../user/pilot_list.html" class="subtext2">Pilot List</a>
            </div>
            <div class="subtext">
              <a href="../user/" class="subtext2">Flight List</a>
            </div>
            <div class="subtext">
              <a href="" class="subtext2">Post Flight Report</a>
            </div>
            <div class="subtext">
              <a href="" class="subtext2">History</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
