body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

/* Pop up slides */
.popup-container,
.popup-container2,
.popup-container3,
.popup-container-edit,
.popup-container-expired {
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-slide,
.popup-slide2,
.popup-slide3,
.popup-slide-edit,
.popup-slide-expired {
  position: absolute;
  width: 58%;
  max-height: 90%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.headix-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  max-height: 56px; /* change the height to your liking */
  box-shadow: 0px 4px 20px rgba(0.42352941632270813, 0.4470588266849518, 0.6549019813537598, 0.25);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 2%;
  padding-top: 2%;
  align-items: center;
}

.headix-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  position: relative;
}

.slide-text {
  font-size: 1.5vw;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
}

.subix-box {
  display: flex;
  width: 100%;
  height: 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 2%;
  flex-direction: column;
}

.subix-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  position: relative;
}

.form-frame {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.form-text {
  width: 100%;
  position: relative;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 1vw;
  text-align: left;
}

.form-text.required:after {
  content: " *";
  color: red;
}

.form-frame input[type="file"] {
  width: 100%;
  height: 32px;
  border: 1px solid #296dcd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1vw;
  padding: 0.5% 1.5%;
  display: block;
  /* margin-top: 25px; */
  background-color: #f5f9ff;
  color: #296dcd;
}


input[type="file"]::file-selector-button {
  margin-right: 2%;
  border: none;
  background: url("../images/cloud_upload.svg") no-repeat;
  background-size: contain;
  width: 1.8em;
  height: 1.8em;
  border-radius: 10px;
  color: transparent;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

input[type="file"]::file-selector-button:hover {
  background: url("../images/cloud_upload.svg");
  /* background: #0d45a5; */
}
input[type="text-form"] {
  width: 100%;
  height: 32px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1vw;
  padding: 0 1%;
  display: block;
  color: black;
}
input[type="text-desc"] {
  height: 70px;
  width: 100%;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 1%;
  display: block;
  color: black;
}
input[type="date"] {
  width: 100%;
  height: 32px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1vw;
  padding: 1% 3%;
  display: block;
}
input[type="file"]::placeholder {
  color: #bcbcbc;
  vertical-align: top;
}

input[type="text-form"]::placeholder {
  color: #bcbcbc;
  vertical-align: top;
  font-size: 1vw;
}

input[type="text-desc"]::placeholder {
  color: #bcbcbc;
  vertical-align: top;
}
input[type="date"]::placeholder {
  color: #bcbcbc;
  vertical-align: top;
}
.popup-slide h1 {
  margin-top: 0;
}

.popup-slide.active {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* Progress Bar */
.progressbar {
  counter-reset: step;
  width: 100%;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  color: #bcbcbc;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #bcbcbc;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active:before {
  border-color: #296dcd;
  background-color: #296dcd;
  color: #fff;
}
.progressbar li.active + li:after {
  background-color: #296dcd;
}


